<a href="https://colab.research.google.com/github/SChiu-project/CUSCS_project/blob/SChiu-20230702/NQ_2018_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

20230620

In [1]:
# import library
import datetime

import numpy as np
import pandas as pd
import math

import tensorflow as tf

from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
# pandas-datareader 多個數據源讀取金融數據的庫

import pandas_datareader as pdr

In [3]:
# yfinance
import yfinance as yf

In [4]:
# 從 Yahoo Finance 中讀取 S&P 500 的歷史價格

df_NQ = yf.download('^IXIC', start='2018-01-01', end='2023-06-30')
df_NQ

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,6937.649902,7006.910156,6924.080078,7006.899902,7006.899902,1929700000
2018-01-03,7017.069824,7069.149902,7016.700195,7065.529785,7065.529785,2173130000
2018-01-04,7089.500000,7098.049805,7072.379883,7077.910156,7077.910156,2103220000
2018-01-05,7105.740234,7137.040039,7097.080078,7136.560059,7136.560059,2024000000
2018-01-08,7135.379883,7161.350098,7124.089844,7157.390137,7157.390137,2055010000
...,...,...,...,...,...,...
2023-06-23,13484.099609,13572.190430,13442.650391,13492.519531,13492.519531,7734500000
2023-06-26,13468.740234,13573.570312,13334.419922,13335.780273,13335.780273,4430600000
2023-06-27,13389.250000,13578.799805,13366.969727,13555.669922,13555.669922,5053660000
2023-06-28,13506.019531,13654.139648,13495.730469,13591.750000,13591.750000,4533270000
2023-06-29,13592.360352,13618.530273,13540.259766,13591.330078,13591.330078,4388140000

In [5]:
df_NQ.describe(include='all')

,Open,High,Low,Close,Adj Close,Volume
count,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,1.382000e+03
mean,10578.454868,10659.475482,10489.882226,10579.997699,10579.997699,3.820942e+09
std,2721.581407,2739.518624,2697.489266,2720.154693,2720.154693,1.535691e+09
min,6257.859863,6355.180176,6190.169922,6192.919922,6192.919922,9.589500e+08
25%,7901.672485,7941.595093,7864.977417,7896.505127,7896.505127,2.288410e+09
50%,10835.629883,10932.479980,10646.279785,10795.814941,10795.814941,4.048805e+09
75%,12934.110107,13042.662842,12826.077637,12945.995117,12945.995117,4.822358e+09
max,16120.919922,16212.230469,16017.230469,16057.440430,16057.440430,1.162119e+10

In [6]:
df_NQ.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1382 entries, 2018-01-02 to 2023-06-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1382 non-null   float64
 1   High       1382 non-null   float64
 2   Low        1382 non-null   float64
 3   Close      1382 non-null   float64
 4   Adj Close  1382 non-null   float64
 5   Volume     1382 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 75.6 KB

In [7]:
df_NQ['percent_chnage'] = (df_NQ['Close']/df_NQ['Open']-1)*100
df_NQ

,Open,High,Low,Close,Adj Close,Volume,percent_chnage
Date,,,,,,,
2018-01-02,6937.649902,7006.910156,6924.080078,7006.899902,7006.899902,1929700000,0.998177
2018-01-03,7017.069824,7069.149902,7016.700195,7065.529785,7065.529785,2173130000,0.690601
2018-01-04,7089.500000,7098.049805,7072.379883,7077.910156,7077.910156,2103220000,-0.163479
2018-01-05,7105.740234,7137.040039,7097.080078,7136.560059,7136.560059,2024000000,0.433731
2018-01-08,7135.379883,7161.350098,7124.089844,7157.390137,7157.390137,2055010000,0.308466
...,...,...,...,...,...,...,...
2023-06-23,13484.099609,13572.190430,13442.650391,13492.519531,13492.519531,7734500000,0.062443
2023-06-26,13468.740234,13573.570312,13334.419922,13335.780273,13335.780273,4430600000,-0.987174
2023-06-27,13389.250000,13578.799805,13366.969727,13555.669922,13555.669922,5053660000,1.242937
2023-06-28,13506.019531,13654.139648,13495.730469,13591.750000,13591.750000,4533270000,0.634757
2023-06-29,13592.360352,13618.530273,13540.259766,13591.330078,13591.330078,4388140000,-0.007580

In [8]:
df_NQ['Jump'] = np.where((df_NQ.percent_chnage>=0) & (1>df_NQ.percent_chnage) ,1,0)
df_NQ

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump
Date,,,,,,,,
2018-01-02,6937.649902,7006.910156,6924.080078,7006.899902,7006.899902,1929700000,0.998177,1
2018-01-03,7017.069824,7069.149902,7016.700195,7065.529785,7065.529785,2173130000,0.690601,1
2018-01-04,7089.500000,7098.049805,7072.379883,7077.910156,7077.910156,2103220000,-0.163479,0
2018-01-05,7105.740234,7137.040039,7097.080078,7136.560059,7136.560059,2024000000,0.433731,1
2018-01-08,7135.379883,7161.350098,7124.089844,7157.390137,7157.390137,2055010000,0.308466,1
...,...,...,...,...,...,...,...,...
2023-06-23,13484.099609,13572.190430,13442.650391,13492.519531,13492.519531,7734500000,0.062443,1
2023-06-26,13468.740234,13573.570312,13334.419922,13335.780273,13335.780273,4430600000,-0.987174,0
2023-06-27,13389.250000,13578.799805,13366.969727,13555.669922,13555.669922,5053660000,1.242937,0
2023-06-28,13506.019531,13654.139648,13495.730469,13591.750000,13591.750000,4533270000,0.634757,1
2023-06-29,13592.360352,13618.530273,13540.259766,13591.330078,13591.330078,4388140000,-0.007580,0

In [9]:
df_NQ['Big_Jump'] = np.where((df_NQ.percent_chnage>=1),1,0)
df_NQ

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump
Date,,,,,,,,,
2018-01-02,6937.649902,7006.910156,6924.080078,7006.899902,7006.899902,1929700000,0.998177,1,0
2018-01-03,7017.069824,7069.149902,7016.700195,7065.529785,7065.529785,2173130000,0.690601,1,0
2018-01-04,7089.500000,7098.049805,7072.379883,7077.910156,7077.910156,2103220000,-0.163479,0,0
2018-01-05,7105.740234,7137.040039,7097.080078,7136.560059,7136.560059,2024000000,0.433731,1,0
2018-01-08,7135.379883,7161.350098,7124.089844,7157.390137,7157.390137,2055010000,0.308466,1,0
...,...,...,...,...,...,...,...,...,...
2023-06-23,13484.099609,13572.190430,13442.650391,13492.519531,13492.519531,7734500000,0.062443,1,0
2023-06-26,13468.740234,13573.570312,13334.419922,13335.780273,13335.780273,4430600000,-0.987174,0,0
2023-06-27,13389.250000,13578.799805,13366.969727,13555.669922,13555.669922,5053660000,1.242937,0,1
2023-06-28,13506.019531,13654.139648,13495.730469,13591.750000,13591.750000,4533270000,0.634757,1,0
2023-06-29,13592.360352,13618.530273,13540.259766,13591.330078,13591.330078,4388140000,-0.007580,0,0

In [10]:
df_NQ['Drop'] = np.where((df_NQ.percent_chnage<0) & (-1<df_NQ.percent_chnage) ,1,0)
df_NQ

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop
Date,,,,,,,,,,
2018-01-02,6937.649902,7006.910156,6924.080078,7006.899902,7006.899902,1929700000,0.998177,1,0,0
2018-01-03,7017.069824,7069.149902,7016.700195,7065.529785,7065.529785,2173130000,0.690601,1,0,0
2018-01-04,7089.500000,7098.049805,7072.379883,7077.910156,7077.910156,2103220000,-0.163479,0,0,1
2018-01-05,7105.740234,7137.040039,7097.080078,7136.560059,7136.560059,2024000000,0.433731,1,0,0
2018-01-08,7135.379883,7161.350098,7124.089844,7157.390137,7157.390137,2055010000,0.308466,1,0,0
...,...,...,...,...,...,...,...,...,...,...
2023-06-23,13484.099609,13572.190430,13442.650391,13492.519531,13492.519531,7734500000,0.062443,1,0,0
2023-06-26,13468.740234,13573.570312,13334.419922,13335.780273,13335.780273,4430600000,-0.987174,0,0,1
2023-06-27,13389.250000,13578.799805,13366.969727,13555.669922,13555.669922,5053660000,1.242937,0,1,0
2023-06-28,13506.019531,13654.139648,13495.730469,13591.750000,13591.750000,4533270000,0.634757,1,0,0
2023-06-29,13592.360352,13618.530273,13540.259766,13591.330078,13591.330078,4388140000,-0.007580,0,0,1

In [11]:
df_NQ['Big_Drop'] = np.where((df_NQ.percent_chnage<=-1),1,0)
df_NQ

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop,Big_Drop
Date,,,,,,,,,,,
2018-01-02,6937.649902,7006.910156,6924.080078,7006.899902,7006.899902,1929700000,0.998177,1,0,0,0
2018-01-03,7017.069824,7069.149902,7016.700195,7065.529785,7065.529785,2173130000,0.690601,1,0,0,0
2018-01-04,7089.500000,7098.049805,7072.379883,7077.910156,7077.910156,2103220000,-0.163479,0,0,1,0
2018-01-05,7105.740234,7137.040039,7097.080078,7136.560059,7136.560059,2024000000,0.433731,1,0,0,0
2018-01-08,7135.379883,7161.350098,7124.089844,7157.390137,7157.390137,2055010000,0.308466,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-23,13484.099609,13572.190430,13442.650391,13492.519531,13492.519531,7734500000,0.062443,1,0,0,0
2023-06-26,13468.740234,13573.570312,13334.419922,13335.780273,13335.780273,4430600000,-0.987174,0,0,1,0
2023-06-27,13389.250000,13578.799805,13366.969727,13555.669922,13555.669922,5053660000,1.242937,0,1,0,0
2023-06-28,13506.019531,13654.139648,13495.730469,13591.750000,13591.750000,4533270000,0.634757,1,0,0,0
2023-06-29,13592.360352,13618.530273,13540.259766,13591.330078,13591.330078,4388140000,-0.007580,0,0,1,0

In [12]:
df_NQ.describe(include='all')

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop,Big_Drop
count,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,1.382000e+03,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000
mean,10578.454868,10659.475482,10489.882226,10579.997699,10579.997699,3.820942e+09,0.025029,0.362518,0.177279,0.298842,0.161360
std,2721.581407,2739.518624,2697.489266,2720.154693,2720.154693,1.535691e+09,1.217788,0.480901,0.382043,0.457916,0.367996
min,6257.859863,6355.180176,6190.169922,6192.919922,6192.919922,9.589500e+08,-6.602975,0.000000,0.000000,0.000000,0.000000
25%,7901.672485,7941.595093,7864.977417,7896.505127,7896.505127,2.288410e+09,-0.555638,0.000000,0.000000,0.000000,0.000000
50%,10835.629883,10932.479980,10646.279785,10795.814941,10795.814941,4.048805e+09,0.069763,0.000000,0.000000,0.000000,0.000000
75%,12934.110107,13042.662842,12826.077637,12945.995117,12945.995117,4.822358e+09,0.688668,1.000000,0.000000,1.000000,0.000000
max,16120.919922,16212.230469,16017.230469,16057.440430,16057.440430,1.162119e+10,7.036212,1.000000,1.000000,1.000000,1.000000

In [13]:
df_NQ.to_csv("df_NQ.csv")