<a href="https://colab.research.google.com/github/SChiu-project/CUSCS_project/blob/SChiu-20230702/S%26P500_2018_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

20230620

In [14]:
# import library
import datetime

import numpy as np
import pandas as pd
import math

import tensorflow as tf

from matplotlib import pyplot as plt
%matplotlib inline

In [15]:
# pandas-datareader 多個數據源讀取金融數據的庫

import pandas_datareader as pdr

In [16]:
# yfinance
import yfinance as yf

In [17]:
# 從 Yahoo Finance 中讀取 S&P 500 的歷史價格

df_SP = yf.download('^GSPC', start='2018-01-01', end='2023-07-01')
df_SP

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,2683.729980,2695.889893,2682.360107,2695.810059,2695.810059,3397430000
2018-01-03,2697.850098,2714.370117,2697.770020,2713.060059,2713.060059,3544030000
2018-01-04,2719.310059,2729.290039,2719.070068,2723.989990,2723.989990,3697340000
2018-01-05,2731.330078,2743.449951,2727.919922,2743.149902,2743.149902,3239280000
2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000
...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000

In [18]:
df_SP.describe(include='all')

,Open,High,Low,Close,Adj Close,Volume
count,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1.383000e+03
mean,3507.811995,3529.385011,3484.564852,3508.303687,3508.303687,4.228956e+09
std,665.785505,669.253061,662.667837,666.317121,666.317121,1.059920e+09
min,2290.709961,2300.729980,2191.860107,2237.399902,2237.399902,1.296530e+09
25%,2866.964966,2885.364990,2855.015015,2872.275024,2872.275024,3.548520e+09
50%,3408.739990,3428.919922,3384.449951,3401.199951,3401.199951,3.996970e+09
75%,4122.110107,4142.354980,4093.024902,4121.950195,4121.950195,4.642940e+09
max,4804.509766,4818.620117,4780.040039,4796.560059,4796.560059,9.976520e+09

In [19]:
df_SP.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1383 entries, 2018-01-02 to 2023-06-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1383 non-null   float64
 1   High       1383 non-null   float64
 2   Low        1383 non-null   float64
 3   Close      1383 non-null   float64
 4   Adj Close  1383 non-null   float64
 5   Volume     1383 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 75.6 KB

In [20]:
df_SP['percent_chnage'] = (df_SP['Close']/df_SP['Open']-1)*100
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage
Date,,,,,,,
2018-01-02,2683.729980,2695.889893,2682.360107,2695.810059,2695.810059,3397430000,0.450123
2018-01-03,2697.850098,2714.370117,2697.770020,2713.060059,2713.060059,3544030000,0.563781
2018-01-04,2719.310059,2729.290039,2719.070068,2723.989990,2723.989990,3697340000,0.172100
2018-01-05,2731.330078,2743.449951,2727.919922,2743.149902,2743.149902,3239280000,0.432750
2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000,0.183764
...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777

In [21]:
df_SP['Jump'] = np.where((df_SP.percent_chnage>=0) & (1>df_SP.percent_chnage) ,1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump
Date,,,,,,,,
2018-01-02,2683.729980,2695.889893,2682.360107,2695.810059,2695.810059,3397430000,0.450123,1
2018-01-03,2697.850098,2714.370117,2697.770020,2713.060059,2713.060059,3544030000,0.563781,1
2018-01-04,2719.310059,2729.290039,2719.070068,2723.989990,2723.989990,3697340000,0.172100,1
2018-01-05,2731.330078,2743.449951,2727.919922,2743.149902,2743.149902,3239280000,0.432750,1
2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000,0.183764,1
...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1

In [22]:
df_SP['Big_Jump'] = np.where((df_SP.percent_chnage>=1),1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump
Date,,,,,,,,,
2018-01-02,2683.729980,2695.889893,2682.360107,2695.810059,2695.810059,3397430000,0.450123,1,0
2018-01-03,2697.850098,2714.370117,2697.770020,2713.060059,2713.060059,3544030000,0.563781,1,0
2018-01-04,2719.310059,2729.290039,2719.070068,2723.989990,2723.989990,3697340000,0.172100,1,0
2018-01-05,2731.330078,2743.449951,2727.919922,2743.149902,2743.149902,3239280000,0.432750,1,0
2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000,0.183764,1,0
...,...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0,0
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1,0
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1,0
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1,0
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1,0

In [23]:
df_SP['Drop'] = np.where((df_SP.percent_chnage<0) & (-1<df_SP.percent_chnage) ,1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop
Date,,,,,,,,,,
2018-01-02,2683.729980,2695.889893,2682.360107,2695.810059,2695.810059,3397430000,0.450123,1,0,0
2018-01-03,2697.850098,2714.370117,2697.770020,2713.060059,2713.060059,3544030000,0.563781,1,0,0
2018-01-04,2719.310059,2729.290039,2719.070068,2723.989990,2723.989990,3697340000,0.172100,1,0,0
2018-01-05,2731.330078,2743.449951,2727.919922,2743.149902,2743.149902,3239280000,0.432750,1,0,0
2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000,0.183764,1,0,0
...,...,...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0,0,1
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1,0,0
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1,0,0
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1,0,0
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1,0,0

In [24]:
df_SP['Big_Drop'] = np.where((df_SP.percent_chnage<=-1),1,0)
df_SP

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop,Big_Drop
Date,,,,,,,,,,,
2018-01-02,2683.729980,2695.889893,2682.360107,2695.810059,2695.810059,3397430000,0.450123,1,0,0,0
2018-01-03,2697.850098,2714.370117,2697.770020,2713.060059,2713.060059,3544030000,0.563781,1,0,0,0
2018-01-04,2719.310059,2729.290039,2719.070068,2723.989990,2723.989990,3697340000,0.172100,1,0,0,0
2018-01-05,2731.330078,2743.449951,2727.919922,2743.149902,2743.149902,3239280000,0.432750,1,0,0,0
2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000,0.183764,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000,-0.368714,0,0,1,0
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000,0.946435,1,0,0,0
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000,0.214766,1,0,0,0
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000,0.491435,1,0,0,0
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000,0.631777,1,0,0,0

In [25]:
df_SP.describe(include='all')

,Open,High,Low,Close,Adj Close,Volume,percent_chnage,Jump,Big_Jump,Drop,Big_Drop
count,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000,1.383000e+03,1383.000000,1383.000000,1383.000000,1383.000000,1383.000000
mean,3507.811995,3529.385011,3484.564852,3508.303687,3508.303687,4.228956e+09,0.016328,0.425886,0.109183,0.346349,0.118583
std,665.785505,669.253061,662.667837,666.317121,666.317121,1.059920e+09,1.014840,0.494655,0.311981,0.475978,0.323414
min,2290.709961,2300.729980,2191.860107,2237.399902,2237.399902,1.296530e+09,-5.709928,0.000000,0.000000,0.000000,0.000000
25%,2866.964966,2885.364990,2855.015015,2872.275024,2872.275024,3.548520e+09,-0.413593,0.000000,0.000000,0.000000,0.000000
50%,3408.739990,3428.919922,3384.449951,3401.199951,3401.199951,3.996970e+09,0.044147,0.000000,0.000000,0.000000,0.000000
75%,4122.110107,4142.354980,4093.024902,4121.950195,4121.950195,4.642940e+09,0.572080,1.000000,0.000000,1.000000,0.000000
max,4804.509766,4818.620117,4780.040039,4796.560059,4796.560059,9.976520e+09,5.487571,1.000000,1.000000,1.000000,1.000000

In [26]:
df_SP.to_csv("df_SP.csv")